* {
    box-sizing: border-box;
}
.nav {
    float: none;
    width: 1000px;
}
.container {
    background-color: dimgray;
}
#container {
    background-color: dimgray;
}
.content{
    padding: 10px;
}
.main {
    width: 600px;
}
.footer{
    clear: both;
}

.header {
    padding: 10px;
}
#header {
    padding: 10px;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li {
    float: left;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body {
    background-image: url(images/image.png);
    background-color: #999999;
}